<div class="center-screen">
  <div id="form-container">

    <h1>Editace stavu</h1>
    <%= link_to "Zpět na klíč", states_path %>
    <br class="clear">

    <div>
      <%= render "form", state: @state %>
    </div>
  </div>
</div>

