<div class="center-screen">
  <div id="form-container">
    <div class="button">
      <%= button_to "Smazat stav", @state, method: :delete, id: "delete" %>
    </div>
    <h1>Editace stavu</h1>
    <%= link_to "Zpět na klíč", states_path %>
    <br class="clear">

    <div>
      <%= render "form", state: @state %>
    </div>
  </div>
</div>
<script>
  $("#delete").click(function() {
    if (confirm("Opravdu smazat stav?")){
      
    } else {
      return false;
    }
  });
</script>
