<h1>Editace stavu</h1>

<div id="form-container">
  <%= render "form", state: @state %>

  <br>

  <div>
    <%= link_to "Zpět na klíč", states_path %>
    <%= button_to "Smazat stav", @state, method: :delete %>
  </div>
</div>
