  <h3>Druhy rodu <i>Ips</i></h3>
  <table>
    <tr>
      <% @entities.each do |entity| %>
        <td><img id="img_<%= entity.id %>" class="thumbnail" src="images/<%= entity.name.gsub(' ', '_').downcase %>.jpg" /></td>
      <% end %>
    </tr>
    <tr>
      <% @entities.each do |entity| %>
        <td><i><%= entity.name %></i></td>
      <% end %>
    </tr>
  </table>
