<h3>Možné druhy</h3>
<table>
  <tr>
    <td><img class="thumbnail" src="images/Dendroctonus_ponderosae.jpg" /></td>
    <td><img class="thumbnail" src="images/Dendroctonus_ponderosae.jpg" /></td>
    <td><img class="thumbnail" src="images/Dendroctonus_ponderosae.jpg" /></td>
    <td><img class="thumbnail" src="images/Dendroctonus_ponderosae.jpg" /></td>
    <td><img class="thumbnail" src="images/Dendroctonus_ponderosae.jpg" /></td>
    <td><img class="thumbnail" src="images/Dendroctonus_ponderosae.jpg" /></td>
    <td><img class="thumbnail" src="images/Dendroctonus_ponderosae.jpg" /></td>
  </tr>
  <tr>
    <td>Ips acuminatus - samičky</td>
    <td>Ips acuminatus - samečci</td>
    <td>Ips amitinus</td>
    <td>Ips cembrae</td>
    <td>Ips duplicatus</td>
    <td>Ips sexdentatus</td>
    <td>Ips typographus</td>
  </tr>
</table>
