<div id="species-info" class="centered">

  <div id="ips_acuminatus" class="species-info">
    <div class="close-panel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSpeciesInfo();">&times;</a>
    </div>
    <h4><i>Ips acuminatus</i> (lýkožrout vrcholkový)</h4>
    <p><b>třída:</b> hmyz (<i>Insecta</i>) <b>řád:</b> brouci (<i>Coleoptera</i>) <b>čeleď:</b> nosatcovití (<i>Curculionidae</i>)</p>
    <p><b>Vědecká synonyma:</b> <i>Ips geminatus</i>, <i>Ips iconographus</i>, <i>Ips porographus</i>, <i>Ips quadridentatus</i></p>
    <p>EPPO kód: <a href="https://gd.eppo.int/taxon/IPSXAC" target="_new">IPSXAC</a></p>
    <h5>Hostitelské spektrum</h5><p>Jedná se prakticky o oligofágní druh na borovicích (borovice černá a b. lesní), který napadá staré, churavějící, stresované nebo zlomené stromy, či jejich části. Jen výjimečně ho nalezneme na jiné dřevině (douglaska a smrk).</p>
    <h5>Popis</h5><p>Jedná se o cca 2,2–3,5 mm velkého zástupce, který je válcovitého tvaru, tmavě hnědé barvy. Imaga jsou intenzivně lesklá. Na silně prohloubené zádi mají dospělci celkem 3 zoubky, ten největší spodní.<br>Larvy jsou při vývoji soustředěny převážně pod kůrou. Larvy jsou rohlíčkovitého tvaru cca 2,0–3,0 mm velké, beznohé a světlé, příp. slonovinové barvy.</p>
    <h5>Možnost záměny</h5><p>Rozlišovacím znakem je především vazba na borovice – hlavní živná dřevina a také velikost druhu, který je nejmenší z předmětného rodu. Také je pro tento druh charakteristické, že na zadní části krovek a zadečku má pouze 3 zoubky, ostatní druhy mají články 4 nebo více.</p>
    <h5>Příznaky poškození/napadení</h5><p>Požerek je hvězdicovitý (tři až pět matečných chodeb na jednu snubní komůrku (výskyt i více matečných chodeb)), matečné chodby jsou orientovány všestranně od snubní komůrky, snubní komůrka i matečné chodby zasahují do kůry, lýka a běle. Snubní komůrka je dobře patrná na kůře, na lýku a běli.</p>
    <h5>Možnost záměny poškození/napadení</h5><p>Charakter poškození je obdobný u všech druhů rodu <i>Ips</i>. Tento druh lze nalézt na borovicích spíše tenkých dimenzí (především na vrcholových částech borovic). Zásadní odlišností tohoto druhu je to, že požerek je opravdu intenzivně zaříznutý do dřeva a navíc je vyplněn trusem a dřevní drtí, což jsou znaky, které se u jiných zástupců lýkožroutů na jehličnatých dřevinách nevyskytují.</p>
    <h5>Životní cyklus</h5><p>Rojení tohoto druhu v jarní generaci probíhá v květnu (někdy již v dubnu). Tento druh zakládá i sesterskou generaci a to po regeneračním žíru. Letní rojení probíhá v červenci.</p>
    <h5>Hospodářský význam</h5><p>Jedná se o druh s intenzivní škodlivostí, který má tendenci k přemnožování, pokud se vyskytne v lokalitách s intenzivním výskytem živných dřevin. Je to druh, který napadá slábnoucí a stresované stromy (např. zastíněním, přísuškem atp.) především tenkých dimenzí. Pokud dojde k silnému přemnožení, představuje tento druh mortalitní faktor i pro zdravé dřeviny.</p>
  </div>

  <div id="ips_amitinus" class="species-info">
    <div class="close-panel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSpeciesInfo();">&times;</a>
    </div>
    <h4><i>Ips amitinus</i> (lýkožrout menší)</h4>
    <p><b>třída:</b> hmyz (<i>Insecta</i>) <b>řád:</b> brouci (<i>Coleoptera</i>) <b>čeleď:</b> nosatcovití (<i>Curculionidae</i>)</p>
    <p><b>Vědecká synonyma:</b> <i>Bostrichus duplicatus</i>, <i>B. amitinus</i>, <i>Ips duplicatus sensu</i>, <i>Ips</i> var. <i>helveticus</i>, <i>Ips</i> var. <i>montanus</i></p>
    <p>EPPO kód: <a href="https://gd.eppo.int/taxon/IPSXAM" target="_new">IPSXAM</a></p>
    <h5>Hostitelské spektrum</h5><p>Jedná se prakticky o oligofágní druh lýkožrouta na smrcích (s. pichlavý a s. ztepilý), který napadá staré, churavějící, stresované, nebo zlomené stromy, či jejich části. Jen výjimečně ho nalezneme na jiné dřevině (douglaska a borovice).</p>
    <h5>Popis</h5><p>Jedná se o cca 3,5–4,5 mm velkého zástupce, který je válcovitého tvaru, tmavě hnědé barvy. Imaga jsou intenzivně lesklá. Na silně prohloubené zádi mají dospělci celkem 4 zoubky, ten největší je 3. shora.<br>Larvy jsou při vývoji soustředěny pouze pod kůrou. Do dřeva přecházejí až na období kuklení a to jen pokud dochází k vývoji na tenkém materiálu. Jsou charakteristického rohlíčkovitého tvaru cca 2,0–4,0 mm velké, beznohé a světlé a slonovinové barvy.</p>
    <h5>Možnost záměny</h5><p>Rozlišovacím znakem je především vazba na smrky – hlavní živná dřevina. U druhu <i>I. amitinus</i> jsou mezirýží dospělců intenzivně tečkovaná. U druhu <i>I. typographus</i> je zmíněné mezirýží hladké a lesklé.</p>
    <h5>Příznaky poškození/napadení</h5><p>Požerek je hvězdicovitý (tři až pět (sedm) matečných chodeb na jednu snubní komůrku), matečné chodby jsou orientovány spíše podélně, snubní komůrka i matečné chodby nepatrně zasahují do lýka, příp. běle. Larvální chodby jsou převážně v kůře a lýku, do dřeva nezasahují.</p>
    <h5>Možnost záměny poškození/napadení</h5><p>Charakter poškození je obdobný u všech druhů rodu <i>Ips</i>. Tento druh lze nalézt na smrcích spíše středních dimenzí. Na silnějším materiálu, tedy cca 60 let a výše, bude spíše v horních partiích kmene a koruny. Druh <i>I. typographus</i> bude vždy dominovat na silnějším materiálu, v podkorunové části kmene (60 let+) s tím, že matečné chodby budou u l. smrkového v podélném směru rovné a u l. menšího různě zvlněné a znatelně kratší.</p>
    <h5>Životní cyklus</h5><p>Rojení tohoto druhu v jarní generaci probíhá v květnu až červnu. Zakládá i sesterskou generaci po regeneračním žíru. Letní rojení probíhá v červenci až srpnu, druhá generace ukončí zpravidla vývoj ještě téhož roku a imaga přezimují buď v místě žíru, nebo v kůře sousedních smrků. V teplých letech a příznivých podmínkách je možné založení pokolení č. 3, které přezimuje ve stadiu larev nebo kukel.</p>
    <h5>Hospodářský význam</h5><p>Jedná se o druh s intenzivní škodlivostí, který má tendenci k přemnožování, pokud se vyskytne v lokalitách s intenzivním výskytem živných dřevin. Je to druh, který napadá slábnoucí a stresované stromy (např. zastíněním, přísuškem atp.) především středních a tenčích dimenzí.</p>
  </div>

  <div id="ips_cembrae" class="species-info">
    <div class="close-panel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSpeciesInfo();">&times;</a>
    </div>
    <h4><i>Ips cembrae</i> (lýkožrout modřínový)</h4>
    <p><b>třída:</b> hmyz (<i>Insecta</i>) <b>řád:</b> brouci (<i>Coleoptera</i>) <b>čeleď:</b> nosatcovití (<i>Curculionidae</i>)</p>
    <p><b>Vědecká synonyma:</b> <i>Ips shinanonensis</i>, <i>Ips subelongatus</i>, <i>Ips</i> var. <i>engadinensis</i></p>
    <p>EPPO kód: <a href="https://gd.eppo.int/taxon/IPSXCE" target="_new">IPSXCE</a></p>
    <h5>Hostitelské spektrum</h5><p>Prakticky se jedná o monofágní druh lýkožrouta na modřínu opadavém, jen zřídka napadá jiné jehličnany (např. silně stresované smrky, nebo po žíru bekyně mnišky atp.).</p>
    <h5>Popis</h5><p>Jedná se o cca 4,5–6,0 mm velkého zástupce, který je válcovitého tvaru, tmavě hnědé barvy. Imaga jsou intenzivně lesklá. Na silně prohloubené zádi mají dospělci celkem 4 zoubky, ten největší je 3. shora.<br>Larvy jsou při vývoji soustředěny pouze pod kůrou. Jsou charakteristického rohlíčkovitého tvaru, cca 2,0–4,0 mm velké, beznohé a světle slonovinové barvy.</p>
    <h5>Možnost záměny</h5><p>Rozlišovacím znakem je především vazba na modříny, kdy se jedná o hlavní živnou dřevinu. U druhu <i>I. aminitus</i> jsou mezirýží dospělců intenzivně tečkovaná. U druhu <i>I. typographus</i> je zmíněné mezirýží hladké a lesklé a u předmětného druhu (l. modřínový) je mezirýží jemně tečkované.</p>
    <h5>Příznaky poškození/napadení</h5><p>Požerek je hvězdicovitý (tři až pět matečných chodeb na jednu snubní komůrku), matečné chodby jsou orientovány spíše podélně, snubní komůrka i matečné chodby nezasahují do lýka, příp. běle. Larvální chodby jsou umístěny převážně v kůře a lýku, do dřeva také nezasahují.</p>
    <h5>Možnost záměny poškození/napadení</h5><p>Charakter poškození je obdobný u všech druhů rodu <i>Ips</i>. Tento druh lze nalézt na modřínech spíše středních dimenzí, nebo na silnějším materiálu. Hostitelská dřevina bude hlavním determinačním znakem tohoto konkrétního druhu. Ostatní druhy rodu <i>Ips</i> budou mít těžiště výskytu na jiných taxonech (borovice a smrk). Tento druh provádí zralostní žír na koncích větví a na letorostech modřínu.</p>
    <h5>Životní cyklus</h5><p>Rojení tohoto druhu v jarní generaci probíhá v dubnu až květnu. Zakládá i sesterskou generaci po regeneračním žíru. Letní rojení probíhá v červenci až srpnu. Druhá generace ukončí zpravidla vývoj ještě téhož roku a imaga přezimují buď v místě žíru, nebo v kůře sousedních smrků. V teplých letech a příznivých podmínkách je možné založení pokolení č. 3, které přezimuje ve stadiu larev nebo kukel.</p>
    <h5>Hospodářský význam</h5><p>Jedná se o druh s intenzivní škodlivostí, který má tendenci k přemnožování, pokud se vyskytne v lokalitách s intenzivním výskytem živných dřevin. Je to druh, který napadá slábnoucí a stresované stromy (např. zastíněním, přísuškem atp.) především silnější dimenzí.</p>
  </div>

  <div id="ips_duplicatus" class="species-info">
    <div class="close-panel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSpeciesInfo();">&times;</a>
    </div>
    <h4><i>Ips duplicatus</i> (lýkožrout severský)</h4>
    <p><b>třída:</b> hmyz (<i>Insecta</i>) <b>řád:</b> brouci (<i>Coleoptera</i>) <b>čeleď:</b> nosatcovití (<i>Curculionidae</i>)</p>
    <p><b>Vědecká synonyma:</b> <i>Ips infucatus</i>, <i>Ips judeichi</i>, <i>Ips rectangulus</i></p>
    <p>EPPO kód: <a href="https://gd.eppo.int/taxon/IPSXDU" target="_new">IPSXDU</a></p>
    <h5>Hostitelské spektrum</h5><p>Jedná se prakticky o oligofágní druh lýkožrouta na smrcích (s. pichlavý a s. ztepilý), který napadá jemně oslabené, staré, churavějící, stresované nebo zlomené stromy, či jejich části. Jen výjimečně ho nalezneme na jiné dřevině (douglaska a borovice).</p>
    <h5>Popis</h5><p>Jedná se o cca 3,5–4,2 mm velkého zástupce, který je válcovitého tvaru, tmavě hnědé barvy. Imaga jsou intenzivně lesklá. Na silně prohloubené zádi mají dospělci celkem 4 zoubky, ten největší je 2. a 3. shora (tvoří tzv. dvojzub).<br>Larvy jsou při vývoji soustředěny převážně pod kůrou. Larvy jsou rohlíčkovitého tvaru cca 2,0–4,0 mm velké, beznohé a světle, či slonovinové barvy.</p>
    <h5>Možnost záměny</h5><p>Rozlišovacím znakem je především vazba na smrky, kdy se jedná o hlavní živnou dřevinu. U druhu <i>I. typographus</i> je mezirýží hladké a lesklé a u <i>I. duplicatus</i> je mezirýží intenzivně tečkované. Od dalších druhů rodu <i>Ips</i> se tento druh liší především výše popsaným dvojzubem na zadní čísti těla, resp. zadečku. Ostatní druhy lýkožroutů rodu <i>Ips</i> mají 3. článek směrem shora největší.</p>
    <h5>Příznaky poškození/napadení</h5><p>Požerek je hvězdicovitý (tři až pět matečných chodeb na jednu snubní komůrku), matečné chodby jsou orientovány spíše podélně, snubní komůrka i matečné chodby nepatrně zasahují do lýka, příp. běle. Larvální chodby jsou lokalizované v kůře a lýku, do dřeva nezasahují. Snubní komůrka je dobře patrná na kůře, nejen v běli, resp. v lýku.</p>
    <h5>Možnost záměny poškození/napadení</h5><p>Charakter poškození je obdobný tomu, který se vyskytuje u všech druhů rodu <i>Ips</i>. Tento druh lze nalézt na smrcích spíše středních dimenzí, nebo na silnějším materiálu, tedy na smrcích o stáří cca 40–60 let a výše. Obecně bude spíše v horních partiích kmene a koruny. Např. druh <i>I. typographus</i> bude vždy dominovat na silnějším materiálu (60 let+) s tím, že matečné chodby budou u l. smrkového v podélném směru rovné a l. menšího různě zvlněné a kratší. <i>Ips duplicatus</i> se požerkem podobá lýkožroutu smrkovému, ale s kratšími matečnými chodbami (7–10 cm) o světlosti 1,5–2 mm. Hlavním znakem tohoto druhu je to, že snubní komůrka je dobře patrná jak na kůře, tak v běli a lýku.</p>
    <h5>Životní cyklus</h5><p>Rojení tohoto druhu v jarní generaci probíhá v květnu až červnu. Zakládá i sesterskou generaci po regeneračním žíru. Letní rojení probíhá v červenci až srpnu, druhá generace ukončí zpravidla vývoj ještě téhož roku a imaga přezimují buď v místě žíru, nebo v kůře sousedních smrků. V teplých letech a příznivých podmínkách je možné založení pokolení č. 3, které přezimuje ve stadiu larev nebo kukel, nebo mladých brouků, kteří zimují v hrabance.</p>
    <h5>Hospodářský význam</h5><p>Jedná se o druh s intenzivní škodlivostí, který má tendenci k přemnožování, pokud se vyskytne v lokalitách s intenzivním výskytem živných dřevin. Je to druh, který napadá slábnoucí a stresované stromy (např. zastíněním, přísuškem atp.) především středních a tenčích dimenzí. Ve fázi velké populační hustoty napadají jedinci tohoto druhu také stromy zcela zdravé.</p>
  </div>

  <div id="ips_typographus" class="species-info">
    <div class="close-panel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSpeciesInfo();">&times;</a>
    </div>
    <h4><i>Ips typographus</i> (lýkožrout smrkový)</h4>
    <p><b>třída:</b> hmyz (<i>Insecta</i>) <b>řád:</b> brouci (<i>Coleoptera</i>) <b>čeleď:</b> nosatcovití (<i>Curculionidae</i>)</p>
    <p><b>Vědecká synonyma:</b> <i>Bostrichus octodentatus</i>, <i>Ips japonicus</i>, <i>Ips octodentatu</i></p>
    <p>EPPO kód: <a href="https://gd.eppo.int/taxon/IPSXTY" target="_new">IPSXTY</a></p>
    <h5>Hostitelské spektrum</h5><p>Jedná se prakticky o oligofágní druh na smrcích (s. pichlavý a s. ztepilý), který napadá staré, churavějící, stresované nebo zlomené stromy, či jejich části. Jen výjimečně ho nalezneme na jiné dřevině (douglaska a borovice).</p>
    <h5>Popis</h5><p>Jedná se o cca 4,2–5,5 mm velkého zástupce, který je válcovitého tvaru a tmavě hnědé barvy. Imaga jsou intenzivně lesklá. Na silně prohloubené zádi mají dospělci celkem 4 zoubky, ten největší je 3. shora.<br>Larvy jsou při vývoji soustředěny převážně pod kůrou. Larvy jsou rohlíčkovitého tvaru cca 2,0–4,0 mm velké, beznohé a světle, či slonovinové barvy.</p>
    <h5>Možnost záměny</h5><p>Rozlišovacím znakem tohoto druhu je především jeho potravní vazba na smrky, smrky jsou tedy hlavní živnou dřevinou. U druhu <i>I. typographus</i> je mezirýží hladké a lesklé a např. u <i>I. duplicatus</i> je mezirýží intenzivně tečkované. Dále se <i>I. duplicatus</i> od <i>I. typographus</i> liší přítomností dvojzubu (2. a 3. zoubek) na zadní části těla, resp. zadečku. Dále jsou na tykadlech <i>I. typographus</i> zřetelně zprohýbané švy na tykadlové paličce, u druhu <i>I. cembrae</i> jsou tyto švy rovné a u <i>I. amitinus</i> je mezirýží zřetelné tečkované (<i>I. typographus</i> - mezirýží netečkované a lesklé).</p>
    <h5>Příznaky poškození/napadení</h5><p>Požerek je hvězdicovitý (tři až pět matečných chodeb na jednu snubní komůrku), matečné chodby jsou orientovány spíše podélně, snubní komůrka i matečné chodby zasahují do kůry a lýka, příp. běle. Larvální chodby jsou v kůře a lýku, do dřeva nezasahují. Snubní komůrka je dobře patrná na kůře a na lýku. Na běli patrná není.</p>
    <h5>Možnost záměny poškození/napadení</h5><p>Charakter poškození je obdobný u všech druhů rodu <i>Ips</i>. Tento druh lze nalézt na smrcích spíše středních dimenzí a silnějších dimenzí, tedy cca 60 let a výše. Druh <i>I. typographus</i> bude vždy dominovat na silnějším materiálu (60 let+), s tím, že matečné chodby budou u l. smrkového v podélném směru rovné a u l. menšího různě zvlněné a kratší. Hlavním znakem tohoto druhu je to, že snubní komůrka není patrná na lýku a běli po sloupnutí kůry. <i>Ips amitinus</i> má snubní komůrku v lýku, po jeho odloupnutí je tedy dobře patrná. Požerky jsou vždy 3–5 ramenné, vlnovitě zprohýbané, 2–3 mm široké. <i>I. amitinus</i> nalétá na stejné kmeny jako lýkožrout smrkový, ale do střední části koruny, nebo na tenčí kmeny, např. v silnějších tyčkovinách. Ani při zvýšené populační hustotě nenapadá <i>I. amitinus</i> bazální části kmenů, realizuje se na nejtlustších částech silnějších větví. Na kmeni se tedy povětšinou nepřekrývá s lýkožroutem smrkovým. <i>Ips cembrae</i> vytváří požerek ze 3–5 matečných chodeb (6–18 cm dlouhých) s výraznějším hvězdicovitým rozložením. Charakteristická pro tento konkrétní druh je vysoká hustota larvových chodeb a četné větrací otvory nad matečnými chodbami. Také se <i>I. cembrae</i> vyskytuje na silnějších kmenech a to pod korunou, není v koruně ani na větvích. Na smrku je navíc <i>I. cembrae</i> vzácnější. <i>Ips duplicatus</i> se požerkem podobá lýkožroutu smrkovému, ale tvoří je s kratšími matečnými chodbami (7–10 cm) o světlosti 1,5–2 mm.</p>
    <h5>Životní cyklus</h5><p>Rojení tohoto druhu v jarní generaci probíhá v květnu (dubnu) až červnu. Zakládá i sesterskou generaci po regeneračním žíru. Letní rojení probíhá v červenci až srpnu. V teplých letech a příznivých podmínkách je pravděpodobné založení 3. pokolení. V opravdu příznivých obdobích tento druh ještě do zimování stihne půl další generace a přezimuje ve stadiu larev nebo kukel.</p>
    <h5>Hospodářský význam</h5><p>Jedná se o druh s intenzivní škodlivostí, který má tendenci k přemnožování. Pokud se l. smrkový vyskytne v lokalitách s intenzivním výskytem živných dřevin, napadá slábnoucí a stresované stromy (např. zastíněním, přísuškem atp.), a to především středních a silnějších dimenzí. Ve stavu, kdy se přemnoží, napadá i stromy zcela zdravé, nebo jen mírně oslabené.</p>
  </div>

  <div id="ips_sexdentatus" class="species-info">
    <div class="close-panel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSpeciesInfo();">&times;</a>
    </div>
    <h4><i>Ips sexdentatus</i> (lýkožrout borový)</h4>
    <p><b>třída:</b> hmyz (<i>Insecta</i>) <b>řád:</b> brouci (<i>Coleoptera</i>) <b>čeleď:</b> nosatcovití (<i>Curculionidae</i>)</p>
    <p><b>Vědecká synonyma:</b> <i>Ips pinastri</i>, <i>Ips stenographus</i></p>
    <p>EPPO kód: <a href="https://gd.eppo.int/taxon/IPSXSE" target="_new">IPSXSE</a></p>
    <h5>Hostitelské spektrum</h5><p>Jedná se prakticky o oligofágní druh na borovicích (druh byl pozorován na následujících druzích borovice: b. černá a b. lesní), který napadá staré, churavějící, stresované nebo zlomené stromy, či jejich části. Jen výjimečně ho nalezneme na jiné dřevině (douglaska a smrk).</p>
    <h5>Popis</h5><p>Jedná se o cca 5,5–8 mm velkého zástupce, který je válcovitého tvaru, tmavě hnědé barvy. Imága jsou intenzivně lesklá. Na silně prohloubené zádi mají dospělci celkem 6 zoubků, z nichž jsou první čtyři (shora) největší.<br>Larvy jsou při vývoji soustředěny převážně pod kůrou a jsou rohlíčkovitého tvaru, cca 5–7 mm velké, beznohé a světlé, nebo slonovinové barvy.</p>
    <h5>Možnost záměny</h5><p>Rozlišovacím znakem tohoto druhu kůrovce je především jeho vazba na borovice - hlavní živná dřevina a také velikost druhu, který je největším zástupcem z předmětného rodu. Také je pro tento druh charakteristické, že na zadní části krovek a zadečku má 6 zoubků, ostatní druhy mají zoubky 4, příp. 3.</p>
    <h5>Příznaky poškození/napadení</h5><p>Požerek je hvězdicovitý (tři až pět matečných chodeb na jednu snubní komůrku (výskyt i více matečných chodeb)), matečné chodby jsou orientovány všestranně od snubní komůrky a dosahují délky až 70 cm a šířky 4 mm. Snubní komůrka i matečné chodby zasahují do kůry, lýka a běle. Snubní komůrka je dobře patrná na kůře, na lýku a běli.</p>
    <h5>Možnost záměny poškození/napadení</h5><p>Charakter poškození je obdobný jako u všech druhů rodu <i>Ips</i>. Tento druh lze nalézt na borovicích spíše silnějších dimenzí (bazální a kmenové části stromů). Zásadní odlišností tohoto druhu je to, že požerek je opravdu velký (délka a šířka matečných i larválních chodeb).</p>
    <h5>Životní cyklus</h5><p>Rojení tohoto druhu v jarní generaci probíhá v dubnu–květnu. Zakládá i sesterskou generaci po regeneračním žíru. Letní rojení probíhá v červenci až srpnu. Má tedy celkem dvě generace do roka.</p>
    <h5>Hospodářský význam</h5><p>Jedná se o druh s menší intenzitou škodlivosti. Je to druh, který napadá pouze slábnoucí a stresované stromy (např. zastíněním, přísuškem atp.) především největších dimenzí.</p>
  </div>

  <div class="footer">
    <p>Zdroj: <a href="https://eagri.cz/public/app/srs_pub/fytoportal/public/" target="_new">Rostlinolékařský portál</a>, text: P. Martinek, MENDELU</p>
  </div>
</div>
