/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --leaf1: #ecede8;
  --leaf2: #e4e6d9;
  --leaf3: #c0cfb2;
  --leaf4: #8ba888;
  --leaf5: #49654e;
  --leaf6: #253528;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  background-color: var(--leaf1);
}

body {
  background-color: transparent;
  transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-style: preserve-3d;
}

body * {
  transform-style: preserve-3d;
}
