<div id="<%= dom_id feature %>">
  <p>
    <strong>Name en:</strong>
    <%= feature.name_en %>
  </p>

  <p>
    <strong>Name cz:</strong>
    <%= feature.name_cz %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= feature.order %>
  </p>

</div>
